@font-face{
    font-family: "Myraid Pro";
    src: url(../fonts/MyraidPro.otf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Myraid Pro", sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #191919;
}
body{
    background: #f3f2f2;
    line-height: 1.2;
}

.titleBig{
    font-size: 36px;
    margin-bottom: 10px;
}
.title{
    font-size: 24px;
}
.text{
    line-height: 20px;
    font-size: 14px;
    color: #191919;
}
.black{
    background: #282828;
    color: #fff;
}
.white{
    background: #fff;
    color: #000;
}

.header{
    height: 790px;
    margin-bottom: 172px;
        .header__menu{
            background: #34a853;
            position: relative;
            z-index: 1000;
            font-size: 16px;
            .header__menu__container{
                max-width: 1600px;
                width: 100%;
                margin: 0 auto;
                padding: 0;
                nav{
                    
                    display: flex;
                    height: 48px;
                    
                    align-items: center;
                    
                    justify-content: space-between;
                    
                    
            
                    ul{
                        display: flex;
                        justify-content: space-between;
                        width: 39%;
                        padding: 0 2%;
                        border-right: 1px solid #67be7e;
                        border-left: 1px solid #67be7e;
                        
                        li{
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    ul:first-child{
                        width: 28%;
                        border: none;
                        
                    }
                    ul:last-child{
                        width: 37%;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    
            
                    .header__menu__mail{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        a{
                            margin: 0 5px;
                        }
                    }
                    .header__menu__phone{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 0 0 0;
            
                        a{
                            margin: 0 5px;
                            span{
                                width: 100%;
                            }
                        }
                    }
                    a{
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                        text-decoration: none;
                        color: white;
                        
                    }
            
            }
        }
        
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 64px;
        padding: 0 2%;
        background: #e8e7e7;
        
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
            
        .search-logo{

            display: flex;
            flex-direction: row;
            align-items: center;
            width: 21%;

            img{
                
                margin-right: 5px;
            }
            p{
                margin-top: 5px;
                font-size: 33px;
            }
        }
        .search-container{
            display: flex;
            
            .search-contact{
                display: flex;
                align-items: center;
                margin-right: 7%;
                width: 160px;

                img{
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }
            .search-cart{
                display: flex;
                align-items: center;
                width: 122px;
                .cart-img{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: 5px;
                    margin-bottom: 15px;

                    .cart-counter{
                        color: #ff8c00;
                        font-size: 14px;
                    }
                }
                .cart-text{
                    
                }
            }
            
        }
        .search-bar{
                
            display: flex;
            align-items: center;
            margin: 0 3% 0 2%;
            width: 100%;

            .search-bar__list{
                display: flex;
                align-items: center;
                flex-direction: row;
                background: #f1f1f1;
                border-radius: 10% 0 0 10%;
                padding: 0 10px;
                height: 35px;
            }

            .search-bar__input{
                
                max-width: 770px;
                    height: 35px;
                    width: 100%;

                input{
                    max-width: 770px;
                    height: 35px;
                    width: 100%;
                    border: 0;
                    border-radius: 0;
                    outline: none;
                    padding: 0 10px;
                }
            }
            .search-bar__sub{
                display: flex;
                align-items: center;
                flex-direction: row;
                background: #ff8c00;
                padding: 0 10px;
                border-radius: 0 10% 10% 0%;
                button{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    background:none;
                    
                    
                    height: 35px;
                    border: 0
                }
                
                
            }
        }
    }
    .equipment{
        margin-bottom: 20px;
        box-shadow: 7px 7px 18px rgba(33, 37, 41, 0.12);
        .equipment-container{
            max-width: 1600px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            padding: 10px 2% 15px;
            background: #fff; 
            justify-content: space-between;
            .equipment-container__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .equipment-img{
                    width: 60px;
                    height: 60px;
                    background: #f1f1f1;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-bottom: 10px;

                    img{
                        margin: -10px 0 0 20px;
                        //box-shadow: 0px 200px 20px 50px rgba(0,0,0,0.75);
                    }
                }
                p{
                    font-size: 16px;
                    color: #343434;
                }

            }
        }
    }
    .header-main{
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        

        .main-container{
            max-width: 1600px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 20px;
            .breadcrumbs{
                width: 20%;
                height: 480px;
                background: #fff;
            }
            .slider{
                width: 60%;
                background: #333;
                height: 480px;
                margin: 0 20px;
            }
            .sell{
                width: 20%;
                height: 480px;
                background: #fff;
            }
        }
        .companies{
            width: 100%;
            height: 100px;
            background: #fff;
        }
    }
}
.news{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    margin-bottom: 172px;

    .titleBig{
        font-size: 36px;
        margin-bottom: 50px;
    }

    .news-container{
        display: flex;

        .news-left{
            max-width: 490px;
            width: 100%;
            margin-bottom: 70px;
            
            .text-container{
                .news-left__title{
                
                    
                
                    .title{
                        line-height: 1.2;
                        
                        
                    }
                }
                .news-left__img{
                    
                    img{
                        width: 100%;
                        vertical-align: middle;
                    }
                }
                .news-left__data{
                    margin-top: 30px;
                    margin-bottom: 25px;
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    p:first-child{
                        color: #34a853;
                    }
                    p:last-child{
                        color: #777;
                    }
                }
                .news-left__text{
                    margin-top: 30px;
                }
            }

            

            .news-left__item{
                

                
                .news-left__img{
                    margin-bottom: 35px;
                    max-height: 320px;
                    overflow: hidden;
                }
                
            }
            
            
        }
        .news-right{
            margin-left: 7.5%;
            .news-right__item{
                display: flex;
                margin-bottom: 45px;

                .news-right-text{
                    margin-left: 20px;

                    .news-right__text{
                        margin-top: 10px;
                    }

                    .news-right__data{
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                            p:first-child{
                                color: #34a853;
                            }
                            p:last-child{
                                color: #777;
                            }
                        }
                }

            }
        }
        
    }
    .news-button{
        
        width: 100%;
        margin: 0 auto;

        a{
            display: inline-block;
            font-weight: 300;
            padding: 0 30px;
            height: 35px;
            line-height: 34px;
            color: #282828;
            border: 2px solid #282828;
            -webkit-border-radius: 15px;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
        }
        a:hover{
            opacity: 0.7;
            color: #282828;
            outline: none;
        }
    }
}
.recomend{
    margin-bottom: 225px;
    
    .recomend-container{
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 2%;
        .titleBig{
            margin-bottom: 20px;
            text-align: center;
        }
        .recomend-main-text{
            margin: 0 auto 65px;
            width: 50%;
            color: #777;
            text-align: center;
        }
        .recomend-list{
            display: flex;
            width: 100%;
            .recomend-right{
                width: 55%;
                
                
                .recomend-item:first-child{
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    .recomend-item__content{
                        position: absolute;
                        left: 30%;
                        top: 30%; 
                        width: 50%; 

                        .recomend-item__name{
                            line-height: 1;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            text-transform: uppercase;
                        }
                        .recomend-item__category{
                            font-size: 30px;
                            line-height: 1.2;
                            margin-bottom: 15px;
                            display: block;
                        }
                        .recomend-item__desk{
                            font-size: 14px;
                            font-weight: 400;
                            
                            width: 85%;
                        }
                    }
                    .recomend-item__img{
                        margin: 0 0 -45px -200px;
                    }
                }
                .recomend-item:last-child{
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    .recomend-item__content{
                        position: absolute;
                        left: 50px; 
                        top: 30%;
                        width: 50%; 

                        .recomend-item__name{
                            line-height: 1;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            text-transform: uppercase;
                        }
                        .recomend-item__category{
                            font-size: 30px;
                            line-height: 1.2;
                            margin-bottom: 15px;
                            display: block;
                        }
                        .recomend-item__desk{
                            font-size: 14px;
                            font-weight: 400;
                            
                            width: 85%;
                        }
                    }
                    .recomend-item__img{
                        margin: 0 0 -88px 450px;
                    }
                }
            }
            .recomend-left{
                width: 45%;
                margin-right: 10px;
                overflow: hidden;
                .recomend-item{
                    padding-top: 60px;
                    padding: 30px;
                    
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    
                    position: relative;
                    
                    

                    .recomend-item__content{
                        text-align: center;
                        margin-bottom: 30px;

                        .recomend-item__name{
                            line-height: 1;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            text-transform: uppercase;
                        }
                        .recomend-item__category{
                            font-size: 30px;
                            line-height: 1.2;
                            margin-bottom: 15px;
                            display: block;
                        }
                        .recomend-item__desk{
                            font-size: 14px;
                            font-weight: 400;
                            margin: 0 auto;
                            width: 60%;
                        }
                    }
                    .recomend-item__img{
                        width: 450px;
                        margin: 0 auto -400px auto;
                        
                    }
                    
                }
            }
        }
    }

}
.portfolio{
    
    .portfolio-container{
        display: flex;
        padding: 0 2%;
        padding-bottom: 200px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
        .portfolio-left{
            width: 75%;
            margin-right: 210px;

            h1{
                font-weight: 500;
                width: 80%;
                margin-bottom: 20px;
                font-size: 36px;
            }
            p{
                width: 95%;
                font-weight: 100;
                font-size: 18px;
            }
            p:nth-child(n+5){
                width: 90%;
            }
            h2{
                padding: 30px 0 30px;
                font-weight: 100;
                font-size: 36px;
                line-height: 36px;

            }
            .show-more-button{
                width: 45px;
                height: 45px;
                background: #383838;
                -webkit-border-radius: 100%;
                border-radius: 100%;
                color: #fff;
                line-height: 44px;
                text-align: center;
                cursor: pointer;
                font-size: 16px;
                font-weight: 100;
                margin-top: 45px;
            }
        }
        .portfolio-right{
            width: 25%;
            padding-top: 50px;
            .logo{
                margin-bottom: 25px;
                .img{
                    margin-bottom: 25px;
                }
                .title{
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 40px;
                    margin-bottom: 0;
                }
                .text{
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 100;
                    color: #898989;
                }
            }
            .company{
                margin-bottom: 25px;
                .title{
                    margin-bottom: 0;
                    font-weight: 400;
                }
                .text{
                    color: #898989;
                    font-size: 16px;
                }
            }
            .about{
                font-size: 18px;
            }
        }
    }
}
.contacts{
    background: #282828;
    padding: 90px 0 80px 0;
    line-height: 1.5;
    li, a{
        color: #fff;
    }

    .contacts-container{
        max-width: 1545px;
        width: 100%;
        margin: 0 auto;
        padding: 0;

        .contacts-lists{
            display: flex;
            justify-content: space-between;


            .contacts-list{

                .contacts__title{
                    display: inline-block;
                    color: #6c6c6c;
                    font-size: 24px;
                    font-weight: 300;
                    padding-bottom: 35px;
                }
            }
            .contacts-list:first-child{
                margin-left: 70px;
            }
            .contacts-list:last-child{
                margin-right: 70px;

                li:nth-child(3){
                    margin-bottom: 17px;
                }
                li:nth-child(5){
                    margin-bottom: 17px;
                }
                li:nth-child(7){
                    margin-bottom: 17px;
                }
            }
        }
    }
    
}
.footer{
    background: #191919;
    padding: 40px 0 30px;
    color: #fff;
    .footer-container{
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 2%;
        display: flex;
        justify-content: space-between;

        .footer-left{
            display: flex;
            align-items: center;

            .footer-left__img{
                margin-right: 15px;
            }
            .footer-left__text{
                line-height: .8;
                .text1{
                    
                    padding-bottom: 5px;
                    font-size: 24px;
                    
                }
                .text2{
                    color: #777;
                    font-size: 18px;
                }
            }
        }
        .footer-right__text{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1370px){
    
        
    .header{
            .header__menu{
                .header__menu__container{
                    nav{
                        ul{
                            width: 39%;
                            li{
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                        ul:first-child{
                            width: 25%;
                            
                            
                        }
                        ul:last-child{
                            width: 37%;
                            
                        }
                        
                    }
                }
            }
    }
    .news{
       
        .news-container{
            width: 95%;

            .news-right{
                margin-left: 2%;
            }
        }
    }
    
}
@media screen and (max-width: 1250px){
    
        
    .header{
        .header__menu{
            .header__menu__container{
                nav{
                    ul{
                        width: 40%;
                        padding: 0 1.5%;

                        li{
                            a{
                                font-size: 12px;
                            }
                        }
                    }
                    
                    
                    ul:first-child{
                        width: 28%;
                        
                        
                    }
                    ul:last-child{
                        width: 37%;
                        
                    }
                    
                }
            }
        }
    }
    

}
@media screen and (max-width: 767px){
    
        
    .header{
        .header__menu{
            .header__menu__container{
                display: none;
            }
        }
    }

}