@font-face {
  font-family: "Myraid Pro";
  src: url(../fonts/MyraidPro.otf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Myraid Pro", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #191919;
}

body {
  background: #f3f2f2;
  line-height: 1.2;
}

.titleBig {
  font-size: 36px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
}

.text {
  line-height: 20px;
  font-size: 14px;
  color: #191919;
}

.black {
  background: #282828;
  color: #fff;
}

.white {
  background: #fff;
  color: #000;
}

.header {
  height: 790px;
  margin-bottom: 172px;
}
.header .header__menu {
  background: #34a853;
  position: relative;
  z-index: 1000;
  font-size: 16px;
}
.header .header__menu .header__menu__container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.header .header__menu .header__menu__container nav {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}
.header .header__menu .header__menu__container nav ul {
  display: flex;
  justify-content: space-between;
  width: 39%;
  padding: 0 2%;
  border-right: 1px solid #67be7e;
  border-left: 1px solid #67be7e;
}
.header .header__menu .header__menu__container nav ul li {
  display: inline-block;
  vertical-align: middle;
}
.header .header__menu .header__menu__container nav ul:first-child {
  width: 28%;
  border: none;
}
.header .header__menu .header__menu__container nav ul:last-child {
  width: 37%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__menu .header__menu__container nav .header__menu__mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__menu .header__menu__container nav .header__menu__mail a {
  margin: 0 5px;
}
.header .header__menu .header__menu__container nav .header__menu__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}
.header .header__menu .header__menu__container nav .header__menu__phone a {
  margin: 0 5px;
}
.header .header__menu .header__menu__container nav .header__menu__phone a span {
  width: 100%;
}
.header .header__menu .header__menu__container nav a {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.header .search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 64px;
  padding: 0 150px;
  background: #e8e7e7;
}

.news {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  margin-bottom: 172px;
}
.news .titleBig {
  font-size: 36px;
  margin-bottom: 50px;
}
.news .news-container {
  display: flex;
}
.news .news-container .news-left {
  max-width: 490px;
  width: 100%;
  margin-bottom: 70px;
}
.news .news-container .news-left .text-container .news-left__title .title {
  line-height: 1.2;
}
.news .news-container .news-left .text-container .news-left__img img {
  width: 100%;
  vertical-align: middle;
}
.news .news-container .news-left .text-container .news-left__data {
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.news .news-container .news-left .text-container .news-left__data p:first-child {
  color: #34a853;
}
.news .news-container .news-left .text-container .news-left__data p:last-child {
  color: #777;
}
.news .news-container .news-left .text-container .news-left__text {
  margin-top: 30px;
}
.news .news-container .news-left .news-left__item .news-left__img {
  margin-bottom: 35px;
  max-height: 320px;
  overflow: hidden;
}
.news .news-container .news-right {
  margin-left: 7.5%;
}
.news .news-container .news-right .news-right__item {
  display: flex;
  margin-bottom: 45px;
}
.news .news-container .news-right .news-right__item .news-right-text {
  margin-left: 20px;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__text {
  margin-top: 10px;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__data {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__data p:first-child {
  color: #34a853;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__data p:last-child {
  color: #777;
}
.news .news-button {
  min-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.news .news-button a {
  display: inline-block;
  font-weight: 300;
  padding: 0 30px;
  height: 35px;
  line-height: 34px;
  color: #282828;
  border: 2px solid #282828;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
.news .news-button a:hover {
  opacity: 0.7;
  color: #282828;
  outline: none;
}

.recomend {
  margin-bottom: 225px;
}
.recomend .recomend-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}
.recomend .recomend-container .titleBig {
  margin-bottom: 20px;
  text-align: center;
}
.recomend .recomend-container .recomend-main-text {
  margin: 0 auto 65px;
  width: 50%;
  color: #777;
  text-align: center;
}
.recomend .recomend-container .recomend-list {
  display: flex;
  width: 100%;
}
.recomend .recomend-container .recomend-list .recomend-right {
  width: 55%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 50%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__name {
  line-height: 1;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__category {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: block;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__desk {
  font-size: 14px;
  font-weight: 400;
  width: 85%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__img {
  margin: 0 0 -45px -200px;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content {
  position: absolute;
  left: 50px;
  top: 30%;
  width: 50%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__name {
  line-height: 1;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__category {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: block;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__desk {
  font-size: 14px;
  font-weight: 400;
  width: 85%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__img {
  margin: 0 0 -88px 450px;
}
.recomend .recomend-container .recomend-list .recomend-left {
  width: 45%;
  margin-right: 10px;
  overflow: hidden;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item {
  padding-top: 60px;
  padding: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content {
  text-align: center;
  margin-bottom: 30px;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__name {
  line-height: 1;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__category {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: block;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__desk {
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  width: 60%;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__img {
  width: 450px;
  margin: 0 auto -400px auto;
}

.portfolio .portfolio-container {
  display: flex;
  padding: 0 2%;
  padding-bottom: 200px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.portfolio .portfolio-container .portfolio-left {
  width: 75%;
  margin-right: 210px;
}
.portfolio .portfolio-container .portfolio-left h1 {
  font-weight: 500;
  width: 80%;
  margin-bottom: 20px;
  font-size: 36px;
}
.portfolio .portfolio-container .portfolio-left p {
  width: 95%;
  font-weight: 100;
  font-size: 18px;
}
.portfolio .portfolio-container .portfolio-left p:nth-child(n+5) {
  width: 90%;
}
.portfolio .portfolio-container .portfolio-left h2 {
  padding: 30px 0 30px;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
}
.portfolio .portfolio-container .portfolio-left .show-more-button {
  width: 45px;
  height: 45px;
  background: #383838;
  border-radius: 100%;
  color: #fff;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  margin-top: 45px;
}
.portfolio .portfolio-container .portfolio-right {
  width: 25%;
  padding-top: 50px;
}
.portfolio .portfolio-container .portfolio-right .logo {
  margin-bottom: 25px;
}
.portfolio .portfolio-container .portfolio-right .logo .img {
  margin-bottom: 25px;
}
.portfolio .portfolio-container .portfolio-right .logo .title {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0;
}
.portfolio .portfolio-container .portfolio-right .logo .text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  color: #898989;
}
.portfolio .portfolio-container .portfolio-right .company {
  margin-bottom: 25px;
}
.portfolio .portfolio-container .portfolio-right .company .title {
  margin-bottom: 0;
  font-weight: 400;
}
.portfolio .portfolio-container .portfolio-right .company .text {
  color: #898989;
  font-size: 16px;
}
.portfolio .portfolio-container .portfolio-right .about {
  font-size: 18px;
}

.contacts {
  background: #282828;
  padding: 90px 0 80px 0;
  line-height: 1.5;
}
.contacts li, .contacts a {
  color: #fff;
}
.contacts .contacts-container {
  max-width: 1545px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.contacts .contacts-container .contacts-lists {
  display: flex;
  justify-content: space-between;
}
.contacts .contacts-container .contacts-lists .contacts-list .contacts__title {
  display: inline-block;
  color: #6c6c6c;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 35px;
}
.contacts .contacts-container .contacts-lists .contacts-list:first-child {
  margin-left: 70px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child {
  margin-right: 70px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child li:nth-child(3) {
  margin-bottom: 17px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child li:nth-child(5) {
  margin-bottom: 17px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child li:nth-child(7) {
  margin-bottom: 17px;
}

.footer {
  background: #191919;
  padding: 40px 0 30px;
  color: #fff;
}
.footer .footer-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer-container .footer-left {
  display: flex;
  align-items: center;
}
.footer .footer-container .footer-left .footer-left__img {
  margin-right: 15px;
}
.footer .footer-container .footer-left .footer-left__text {
  line-height: 0.8;
}
.footer .footer-container .footer-left .footer-left__text .text1 {
  padding-bottom: 5px;
  font-size: 24px;
}
.footer .footer-container .footer-left .footer-left__text .text2 {
  color: #777;
  font-size: 18px;
}
.footer .footer-container .footer-right__text {
  font-size: 18px;
}

@media screen and (max-width: 1370px) {
  .header .header__menu .header__menu__container nav ul {
    width: 39%;
  }
  .header .header__menu .header__menu__container nav ul li a {
    font-size: 14px;
  }
  .header .header__menu .header__menu__container nav ul:first-child {
    width: 25%;
  }
  .header .header__menu .header__menu__container nav ul:last-child {
    width: 37%;
  }

  .news .news-container {
    width: 95%;
  }
  .news .news-container .news-right {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1250px) {
  .header .header__menu .header__menu__container nav ul {
    width: 40%;
    padding: 0 1.5%;
  }
  .header .header__menu .header__menu__container nav ul li a {
    font-size: 12px;
  }
  .header .header__menu .header__menu__container nav ul:first-child {
    width: 28%;
  }
  .header .header__menu .header__menu__container nav ul:last-child {
    width: 37%;
  }
}
@media screen and (max-width: 767px) {
  .header .header__menu .header__menu__container {
    display: none;
  }
}