@font-face {
  font-family: "Myraid Pro";
  src: url(../fonts/MyraidPro.otf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Myraid Pro", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #191919;
}

body {
  background: #f3f2f2;
  line-height: 1.2;
}

.mobile {
  display: none;
}

.titleBig {
  font-size: 36px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
}

.text {
  line-height: 20px;
  font-size: 14px;
  color: #191919;
}

.black {
  background: #282828;
  color: #fff;
}

.white {
  background: #fff;
  color: #000;
}

.header {
  margin-bottom: 172px;
}
.header .header__menu {
  background: #34a853;
  position: relative;
  z-index: 1000;
  font-size: 16px;
}
.header .header__menu .header__menu__container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.header .header__menu .header__menu__container nav {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}
.header .header__menu .header__menu__container nav ul {
  display: flex;
  justify-content: space-between;
  width: 39%;
  padding: 0 2%;
  border-right: 1px solid #67be7e;
  border-left: 1px solid #67be7e;
}
.header .header__menu .header__menu__container nav ul li {
  display: inline-block;
  vertical-align: middle;
}
.header .header__menu .header__menu__container nav ul:first-child {
  width: 28%;
  border: none;
}
.header .header__menu .header__menu__container nav ul:last-child {
  width: 37%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__menu .header__menu__container nav .header__menu__mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__menu .header__menu__container nav .header__menu__mail a {
  margin: 0 5px;
}
.header .header__menu .header__menu__container nav .header__menu__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}
.header .header__menu .header__menu__container nav .header__menu__phone a {
  margin: 0 5px;
}
.header .header__menu .header__menu__container nav .header__menu__phone a span {
  width: 100%;
}
.header .header__menu .header__menu__container nav a {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.header .search {
  width: 100%;
  background: #e8e7e7;
}
.header .search .search-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 64px;
  padding: 0 2%;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.header .search .search-main .search-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 21%;
}
.header .search .search-main .search-logo img {
  margin-right: 5px;
}
.header .search .search-main .search-logo p {
  margin-top: 5px;
  font-size: 33px;
}
.header .search .search-main .search-container {
  display: flex;
}
.header .search .search-main .search-container .search-contact {
  display: flex;
  align-items: center;
  margin-right: 7%;
  width: 160px;
}
.header .search .search-main .search-container .search-contact img {
  margin-right: 5px;
  margin-bottom: 5px;
}
.header .search .search-main .search-container .search-cart {
  display: flex;
  align-items: center;
  width: 125px;
  padding: 3px 0;
  transition: 0.2s ease-in;
}
.header .search .search-main .search-container .search-cart .cart-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 15px;
}
.header .search .search-main .search-container .search-cart .cart-img .cart-counter {
  color: #ff8c00;
  font-size: 14px;
}
.header .search .search-main .search-container .search-cart:hover {
  background: #ffaf2d;
}
.header .search .search-main .search-container .search-cart:hover p {
  color: #fff;
}
.header .search .search-main .search-container .search-cart:hover .cart-img .cart-counter {
  color: #fff;
}
.header .search .search-main .search-bar {
  display: flex;
  align-items: center;
  margin: 0 3% 0 2%;
  width: 100%;
}
.header .search .search-main .search-bar .search-bar__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #f1f1f1;
  border-radius: 10% 0 0 10%;
  padding: 0 10px;
  height: 35px;
}
.header .search .search-main .search-bar .search-bar__input {
  max-width: 770px;
  height: 35px;
  width: 100%;
}
.header .search .search-main .search-bar .search-bar__input input {
  max-width: 770px;
  height: 35px;
  width: 100%;
  border: 0;
  border-radius: 0;
  outline: none;
  padding: 0 10px;
}
.header .search .search-main .search-bar .search-bar__sub {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #ff8c00;
  padding: 0 10px;
  border-radius: 0 10% 10% 0%;
}
.header .search .search-main .search-bar .search-bar__sub button {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: none;
  height: 35px;
  border: 0;
}
.header .equipment {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 7px 7px 18px rgba(33, 37, 41, 0.12);
}
.header .equipment .equipment-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10px 2% 15px;
  justify-content: space-between;
}
.header .equipment .equipment-container .equipment-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .equipment .equipment-container .equipment-container__item .equipment-img {
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.header .equipment .equipment-container .equipment-container__item .equipment-img img {
  margin: -10px 0 0 20px;
}
.header .equipment .equipment-container .equipment-container__item p {
  font-size: 16px;
  color: #343434;
}
.header .header-main {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}
.header .header-main .main-container {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.header .header-main .main-container .breadcrumbs {
  width: 20%;
  height: 480px;
  background: #fff;
}
.header .header-main .main-container .breadcrumbs .title {
  padding: 0 20px;
  color: #ffaf2d;
  margin: 30px 0 10px 0;
}
.header .header-main .main-container .breadcrumbs .breadcrumbs__list .breadcrumbs__item {
  padding: 13px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}
.header .header-main .main-container .breadcrumbs .breadcrumbs__list .breadcrumbs__item a {
  padding: 0 20px;
}
.header .header-main .main-container .breadcrumbs .breadcrumbs__list .breadcrumbs__item a:after {
  content: ">";
  position: absolute;
  right: 15px;
  display: inline-block;
}
.header .header-main .main-container .breadcrumbs .breadcrumbs__list .breadcrumbs__item:last-child {
  border: 0;
}
.header .header-main .main-container .slider {
  width: 60%;
  margin: 0 20px;
}
.header .header-main .main-container .slider .swiper-container {
  width: 100%;
  height: 480px;
  background: #232323;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left {
  width: 70%;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left p {
  font-size: 16px;
  color: #777;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left .slide-text {
  padding: 70px 0 60px 0;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left .slide-text .text {
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left .slide-text .title {
  font-size: 40px;
  color: #fff;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left .more-button {
  width: 100%;
  margin: 0 auto;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left .more-button a {
  display: inline-block;
  font-weight: 300;
  padding: 0 30px;
  height: 35px;
  line-height: 34px;
  color: #fff;
  background: #ffaf2d;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
.header .header-main .main-container .slider .swiper-container .swiper-wrapper .swiper-slide .slide-left .more-button a:hover {
  opacity: 0.7;
  color: #282828;
  outline: none;
}
.header .header-main .main-container .sell {
  width: 20%;
  height: 480px;
  background: #fff;
  border: 2px solid #ffaf2d;
  padding: 220px 60px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header .header-main .main-container .sell img {
  align-self: flex-start;
  margin-bottom: 10px;
}
.header .header-main .main-container .sell .sell-text {
  margin-bottom: 25px;
}
.header .header-main .main-container .sell a {
  color: #ffaf2d;
}
.header .header-main .main-container .sell a:after {
  content: ">";
  color: #ffaf2d;
  margin-right: 10px;
}
.header .header-main .companies {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0;
}
.header .header-main .companies div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #efeeee;
  width: 16.6%;
  padding: 0 3.5%;
}
.header .header-main .companies div:first-child {
  border-right: 1px solid #efeeee;
}
.header .header-main .companies div:last-child {
  border: 0;
}

.news {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  margin-bottom: 172px;
}
.news .titleBig {
  font-size: 36px;
  margin-bottom: 50px;
}
.news .news-container {
  display: flex;
}
.news .news-container .news-left {
  max-width: 490px;
  width: 100%;
  margin-bottom: 70px;
}
.news .news-container .news-left .text-container .news-left__title .title {
  line-height: 1.2;
}
.news .news-container .news-left .text-container .news-left__img img {
  width: 100%;
  vertical-align: middle;
}
.news .news-container .news-left .text-container .news-left__data {
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.news .news-container .news-left .text-container .news-left__data p:first-child {
  color: #34a853;
}
.news .news-container .news-left .text-container .news-left__data p:last-child {
  color: #777;
}
.news .news-container .news-left .text-container .news-left__text {
  margin-top: 30px;
}
.news .news-container .news-left .news-left__item .news-left__img {
  margin-bottom: 35px;
  max-height: 320px;
  overflow: hidden;
}
.news .news-container .news-right {
  margin-left: 7.5%;
}
.news .news-container .news-right .news-right__item {
  display: flex;
  margin-bottom: 45px;
}
.news .news-container .news-right .news-right__item .news-right-text {
  margin-left: 20px;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__text {
  margin-top: 10px;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__data {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__data p:first-child {
  color: #34a853;
}
.news .news-container .news-right .news-right__item .news-right-text .news-right__data p:last-child {
  color: #777;
}
.news .news-button {
  width: 100%;
  margin: 0 auto;
}
.news .news-button a {
  display: inline-block;
  font-weight: 300;
  padding: 0 30px;
  height: 35px;
  line-height: 34px;
  color: #282828;
  border: 2px solid #282828;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
.news .news-button a:hover {
  opacity: 0.7;
  color: #282828;
  outline: none;
}

.recomend {
  margin-bottom: 225px;
}
.recomend .recomend-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}
.recomend .recomend-container .titleBig {
  margin-bottom: 20px;
  text-align: center;
}
.recomend .recomend-container .recomend-main-text {
  margin: 0 auto 65px;
  width: 50%;
  color: #777;
  text-align: center;
}
.recomend .recomend-container .recomend-list {
  display: flex;
  width: 100%;
}
.recomend .recomend-container .recomend-list .recomend-right {
  width: 55%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 50%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__name {
  line-height: 1;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__category {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: block;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__desk {
  font-size: 14px;
  font-weight: 400;
  width: 85%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__img {
  margin: 0 0 -45px -200px;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content {
  position: absolute;
  left: 50px;
  top: 30%;
  width: 50%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__name {
  line-height: 1;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__category {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: block;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__desk {
  font-size: 14px;
  font-weight: 400;
  width: 85%;
}
.recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__img {
  margin: 0 0 -88px 450px;
}
.recomend .recomend-container .recomend-list .recomend-left {
  width: 45%;
  margin-right: 10px;
  overflow: hidden;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item {
  padding-top: 60px;
  padding: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content {
  text-align: center;
  margin-bottom: 30px;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__name {
  line-height: 1;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__category {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: block;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__desk {
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  width: 60%;
}
.recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__img {
  width: 450px;
  margin: 0 auto -400px auto;
}

.portfolio .portfolio-container {
  display: flex;
  padding: 0 2%;
  padding-bottom: 200px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.portfolio .portfolio-container .portfolio-left {
  width: 75%;
  margin-right: 210px;
}
.portfolio .portfolio-container .portfolio-left h1 {
  font-weight: 500;
  width: 80%;
  margin-bottom: 20px;
  font-size: 36px;
}
.portfolio .portfolio-container .portfolio-left p {
  width: 95%;
  font-weight: 100;
  font-size: 18px;
}
.portfolio .portfolio-container .portfolio-left p:nth-child(n+5) {
  width: 90%;
}
.portfolio .portfolio-container .portfolio-left h2 {
  padding: 30px 0 30px;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
}
.portfolio .portfolio-container .portfolio-left .show-more-button {
  width: 45px;
  height: 45px;
  background: #383838;
  border-radius: 100%;
  color: #fff;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  margin-top: 45px;
}
.portfolio .portfolio-container .portfolio-right {
  width: 25%;
  padding-top: 50px;
}
.portfolio .portfolio-container .portfolio-right .logo {
  margin-bottom: 25px;
}
.portfolio .portfolio-container .portfolio-right .logo .img {
  margin-bottom: 25px;
}
.portfolio .portfolio-container .portfolio-right .logo .title {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0;
}
.portfolio .portfolio-container .portfolio-right .logo .text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  color: #898989;
}
.portfolio .portfolio-container .portfolio-right .company {
  margin-bottom: 25px;
}
.portfolio .portfolio-container .portfolio-right .company .title {
  margin-bottom: 0;
  font-weight: 400;
}
.portfolio .portfolio-container .portfolio-right .company .text {
  color: #898989;
  font-size: 16px;
}
.portfolio .portfolio-container .portfolio-right .about {
  font-size: 18px;
}

.contacts {
  background: #282828;
  padding: 90px 0 80px 0;
  line-height: 1.5;
}
.contacts li,
.contacts a {
  color: #fff;
}
.contacts .contacts-container {
  max-width: 1545px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.contacts .contacts-container .contacts-lists {
  display: flex;
  justify-content: space-between;
}
.contacts .contacts-container .contacts-lists .contacts-list .contacts__title {
  display: inline-block;
  color: #6c6c6c;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 35px;
}
.contacts .contacts-container .contacts-lists .contacts-list:first-child {
  margin-left: 70px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child {
  margin-right: 70px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child li:nth-child(3) {
  margin-bottom: 17px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child li:nth-child(5) {
  margin-bottom: 17px;
}
.contacts .contacts-container .contacts-lists .contacts-list:last-child li:nth-child(7) {
  margin-bottom: 17px;
}

.footer {
  background: #191919;
  padding: 40px 0 30px;
  color: #fff;
}
.footer .footer-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-container .footer-left {
  display: flex;
  align-items: center;
}
.footer .footer-container .footer-left .footer-left__img {
  margin-right: 15px;
}
.footer .footer-container .footer-left .footer-left__text {
  line-height: 0.8;
}
.footer .footer-container .footer-left .footer-left__text .text1 {
  padding-bottom: 5px;
  font-size: 24px;
}
.footer .footer-container .footer-left .footer-left__text .text2 {
  color: #777;
  font-size: 18px;
}
.footer .footer-container .footer-right__text {
  font-size: 18px;
}

@media screen and (max-width: 1366px) {
  .header .header__menu .header__menu__container nav ul {
    width: 39%;
  }
  .header .header__menu .header__menu__container nav ul li a {
    font-size: 14px;
  }
  .header .header__menu .header__menu__container nav ul:first-child {
    width: 25%;
  }
  .header .header__menu .header__menu__container nav ul:last-child {
    width: 37%;
  }
  .header .equipment {
    overflow: hidden;
  }
  .header .header-main .main-container {
    flex-wrap: wrap;
    align-items: start;
  }
  .header .header-main .main-container .breadcrumbs .title {
    margin-top: 15px;
    font-size: 18px;
  }
  .header .header-main .main-container .breadcrumbs .breadcrumbs__list .breadcrumbs__item {
    font-size: 14px;
  }
  .header .header-main .main-container .slider {
    margin: 0;
    margin-bottom: 20px;
    width: 75%;
    height: 480px;
  }
  .header .header-main .main-container .sell {
    width: 100%;
    height: 380px;
    padding: 180px 60px 60px 60px;
  }

  .news .news-container {
    width: 95%;
    flex-wrap: wrap;
  }
  .news .news-container .news-right {
    margin-left: 2%;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 1250px) {
  .header .header__menu .header__menu__container nav ul {
    width: 40%;
    padding: 0 1.5%;
  }
  .header .header__menu .header__menu__container nav ul li a {
    font-size: 12px;
  }
  .header .header__menu .header__menu__container nav ul:first-child {
    width: 28%;
  }
  .header .header__menu .header__menu__container nav ul:last-child {
    width: 37%;
  }
}
@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }

  .header-mobile {
    width: 100%;
    background: #f1f1f1;
  }

  .header-menu__mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
  }
  .header-menu__mobile .menu-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  .header-menu__mobile .menu-left .toggle-bar {
    border-radius: 100%;
    background: #fda11c;
    width: 70px;
    height: 70px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header-menu__mobile .menu-left .toggle-bar span {
    width: 25px;
    height: 2px;
    background: #fff;
  }
  .header-menu__mobile .menu-left .logo-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72%;
  }
  .header-menu__mobile .menu-left .logo-mobile .logo-img {
    margin-right: 2%;
  }
  .header-menu__mobile .menu-left .logo-mobile .logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-menu__mobile .menu-left .logo-mobile .logo-text p:first-child {
    font-size: 30px;
  }
  .header-menu__mobile .menu-left .logo-mobile .logo-text p:last-child {
    font-size: 18px;
  }
  .header-menu__mobile .menu-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
  .header-menu__mobile .menu-right .cart-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .header-menu__mobile .menu-right .cart-mobile .cart-counter {
    color: #fda11c;
    position: absolute;
    font-size: 25px;
    top: -20px;
    left: 20px;
  }

  .header-equipment__mobile {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    flex-direction: row;
    position: relative;
  }
  .header-equipment__mobile p {
    font-size: 30px;
  }
  .header-equipment__mobile p::after {
    content: ">";
    right: 5%;
    position: absolute;
    color: #777;
  }

  .header .header__menu .header__menu__container {
    display: none;
  }
  .header .search {
    display: none;
  }
  .header .equipment {
    display: none;
  }
  .header .header-main {
    padding: 0;
  }
  .header .header-main .main-container .breadcrumbs {
    display: none;
  }
  .header .header-main .main-container .slider {
    width: 100%;
  }
  .header .header-main .main-container .sell {
    margin: 0 5%;
    height: auto;
    padding: 80px 50px;
  }
  .header .header-main .main-container .sell img {
    width: 120px;
  }
  .header .header-main .main-container .sell a {
    font-size: 30px;
  }
  .header .header-main .main-container .sell .sell-text .title {
    font-size: 50px;
  }
  .header .header-main .main-container .sell .sell-text .text {
    font-size: 25px;
  }
  .header .header-main .companies {
    display: none;
  }

  .companies-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 0 5%;
  }
  .companies-mobile .companies-mobile__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f3f2f2;
    padding: 25px 0;
    width: 100%;
  }
  .companies-mobile .companies-mobile__item div:first-child {
    border-right: 1px solid #f3f2f2;
    padding-left: 5%;
    padding-right: 3%;
  }
  .companies-mobile .companies-mobile__item div:last-child {
    padding-left: 3%;
    padding-right: 5%;
  }

  .news {
    display: none;
  }

  .recomend .recomend-container .titleBig {
    font-size: 50px;
  }
  .recomend .recomend-container .recomend-main-text {
    font-size: 30px;
    width: 90%;
    line-height: 1.5;
  }
  .recomend .recomend-container .recomend-list {
    flex-wrap: wrap;
  }
  .recomend .recomend-container .recomend-list .recomend-right {
    width: 100%;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content {
    left: auto;
    right: 0;
    width: 57%;
    top: 10%;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__name {
    font-size: 30px;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__category {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__content .recomend-item__desk {
    width: 90%;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__img {
    margin: 25px 0 5px -115px;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:first-child .recomend-item__img img {
    width: 400px;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child {
    padding: 30px 0;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content {
    right: auto;
    left: 10%;
    width: 57%;
    top: 10%;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__name {
    font-size: 30px;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__category {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__content .recomend-item__desk {
    width: 90%;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__img {
    margin: 0 0px -12px 472px;
  }
  .recomend .recomend-container .recomend-list .recomend-right .recomend-item:last-child .recomend-item__img img {
    width: 400px;
  }
  .recomend .recomend-container .recomend-list .recomend-left {
    width: 100%;
    margin-right: 0;
  }
  .recomend .recomend-container .recomend-list .recomend-left .recomend-item {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  .recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__img {
    width: auto;
    margin: 0 -90px -120px auto;
  }
  .recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__img img {
    width: 330px;
  }
  .recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content {
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__desk {
    margin: 0;
    font-size: 14px;
    width: 75%;
  }
  .recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__name {
    font-size: 30px;
  }
  .recomend .recomend-container .recomend-list .recomend-left .recomend-item .recomend-item__content .recomend-item__category {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .recomend-item__desk p {
    font-size: 25px;
    color: #777;
  }

  .portfolio .portfolio-container {
    flex-wrap: wrap-reverse;
  }
  .portfolio .portfolio-container .portfolio-left {
    width: 100%;
    margin-right: 0;
  }
  .portfolio .portfolio-container .portfolio-left h1 {
    width: auto;
  }
  .portfolio .portfolio-container .portfolio-left p {
    width: auto;
  }
  .portfolio .portfolio-container .portfolio-left .portfolio-left__text2 {
    display: none;
  }
  .portfolio .portfolio-container .portfolio-left h1 {
    font-size: 50px;
  }
  .portfolio .portfolio-container .portfolio-left p {
    font-size: 30px;
  }
  .portfolio .portfolio-container .portfolio-left .show-more-button {
    width: 100px;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio .portfolio-container .portfolio-right {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 60px;
  }
  .portfolio .portfolio-container .portfolio-right .logo .img img {
    width: 250px;
  }
  .portfolio .portfolio-container .portfolio-right .logo .title p {
    font-size: 50px;
  }
  .portfolio .portfolio-container .portfolio-right .logo .text p {
    font-size: 25px;
  }
  .portfolio .portfolio-container .portfolio-right .company .title p {
    font-size: 40px;
  }
  .portfolio .portfolio-container .portfolio-right .company .text p {
    font-size: 30px;
  }
  .portfolio .portfolio-container .portfolio-right .about p {
    font-size: 30px;
  }

  .contacts {
    padding: 30px 0;
  }
  .contacts .contacts-container .contacts-lists {
    padding: 0 2%;
    flex-direction: column;
  }
  .contacts .contacts-container .contacts-lists .contacts-list:first-child {
    margin-left: 0;
  }
  .contacts .contacts-container .contacts-lists .contacts-list:last-child {
    margin-right: 0;
  }
  .contacts .contacts-container .contacts-lists .contacts-list {
    border-bottom: 1px solid #4b4b4b;
    position: relative;
  }
  .contacts .contacts-container .contacts-lists .contacts-list .contacts__title {
    padding: 10px 0;
    font-size: 30px;
    color: #fff;
  }
  .contacts .contacts-container .contacts-lists .contacts-list .contacts__title::after {
    content: "+";
    color: #fff;
    position: absolute;
    right: 10px;
  }
  .contacts .contacts-container .contacts-lists .contacts-list:last-child {
    border: 0;
  }
  .contacts .contacts-list ul,
.contacts .contacts-list li {
    display: none;
  }

  .footer .footer-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .footer-container .footer-left {
    width: 100%;
    padding-bottom: 20px;
  }
  .footer .footer-container .footer-left .footer-left__img img {
    width: 80px;
  }
  .footer .footer-container .footer-left .footer-left__text .text1 {
    font-size: 50px;
  }
  .footer .footer-container .footer-left .footer-left__text .text2 {
    font-size: 36px;
  }
  .footer .footer-container .footer-right {
    width: 100%;
  }
  .footer .footer-container .footer-right p {
    font-size: 40px;
  }
}
@media screen and (max-width: 412px) {
  .header .header-mobile .header-menu__mobile {
    width: 100%;
  }
  .header .header-mobile .header-menu__mobile .menu-left {
    width: 30%;
  }
  .header .header-mobile .header-menu__mobile .menu-left .logo-mobile .logo-text {
    display: none;
  }
  .header .companies-mobile .companies-mobile__item {
    flex-wrap: wrap;
  }
}