@font-face {
    font-family: "Myraid Pro";
    src: url(../fonts/MyraidPro.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Myraid Pro", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #191919;
}

body {
    background: #f3f2f2;
    line-height: 1.2;
}

body.active {
    overflow-y: hidden;
}



.titleBig {
    font-size: 36px;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
}

.text {
    line-height: 20px;
    font-size: 14px;
    color: #191919;
}

.black {
    background: #282828;
    color: #fff;
}

.white {
    background: #fff;
    color: #000;
}

.header {

    margin-bottom: 172px;

    .header__menu {
        background: #34a853;
        position: relative;
        z-index: 1000;
        font-size: 16px;

        .header__menu__container {
            max-width: 1600px;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            nav {

                display: flex;
                height: 48px;

                align-items: center;

                justify-content: space-between;



                ul {
                    display: flex;
                    justify-content: space-between;
                    width: 39%;
                    padding: 0 2%;
                    border-right: 1px solid #67be7e;
                    border-left: 1px solid #67be7e;

                    li {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                ul:first-child {
                    width: 28%;
                    border: none;

                }

                ul:last-child {
                    width: 37%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }



                .header__menu__mail {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        margin: 0 5px;
                    }
                }

                .header__menu__phone {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0 0 0;

                    a {
                        margin: 0 5px;

                        span {
                            width: 100%;
                        }
                    }
                }

                a {
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                    color: white;

                }

            }
        }

    }

    .search {
        width: 100%;
        background: #e8e7e7;

        .search-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            height: 64px;
            padding: 0 2%;


            max-width: 1600px;
            width: 100%;
            margin: 0 auto;

            .search-logo {

                display: flex;
                flex-direction: row;
                align-items: center;
                width: 21%;

                img {

                    margin-right: 5px;
                }

                p {
                    margin-top: 5px;
                    font-size: 33px;
                }
            }

            .search-container {
                display: flex;

                .search-contact {
                    display: flex;
                    align-items: center;
                    margin-right: 7%;
                    width: 160px;

                    img {
                        margin-right: 5px;
                        margin-bottom: 5px;
                    }
                }

                .search-cart {
                    display: flex;
                    align-items: center;
                    width: 125px;
                    padding: 3px 0;
                    transition: .2s ease-in;

                    .cart-img {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-right: 5px;
                        margin-bottom: 15px;

                        .cart-counter {
                            color: #ff8c00;
                            font-size: 14px;
                        }
                    }

                    .cart-text {}
                }

                .search-cart:hover {
                    background: #ffaf2d;

                    p {
                        color: #fff;
                    }

                    .cart-img {

                        .cart-counter {

                            color: #fff;

                        }
                    }
                }

            }

            .search-bar {

                display: flex;
                align-items: center;
                margin: 0 3% 0 2%;
                width: 100%;

                .search-bar__list {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    background: #f1f1f1;
                    border-radius: 10% 0 0 10%;
                    padding: 0 10px;
                    height: 35px;
                }

                .search-bar__input {

                    max-width: 770px;
                    height: 35px;
                    width: 100%;

                    input {
                        max-width: 770px;
                        height: 35px;
                        width: 100%;
                        border: 0;
                        border-radius: 0;
                        outline: none;
                        padding: 0 10px;
                    }
                }

                .search-bar__sub {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    background: #ff8c00;
                    padding: 0 10px;
                    border-radius: 0 10% 10% 0%;

                    button {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        background: none;


                        height: 35px;
                        border: 0
                    }


                }
            }
        }

    }

    .equipment {
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 7px 7px 18px rgba(33, 37, 41, 0.12);

        .equipment-container {
            max-width: 1600px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            padding: 10px 2% 15px;

            justify-content: space-between;

            .equipment-container__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .equipment-img {
                    width: 60px;
                    height: 60px;
                    background: #f1f1f1;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-bottom: 10px;

                    img {
                        margin: -10px 0 0 20px;
                        //box-shadow: 0px 200px 20px 50px rgba(0,0,0,0.75);
                    }
                }

                p {
                    font-size: 16px;
                    color: #343434;
                }

            }
        }
    }

    .header-main {
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        padding: 0 2%;


        .main-container {
            max-width: 1600px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0 auto;
            margin-bottom: 20px;

            .breadcrumbs {
                width: 25%;
                height: 480px;
                background: #fff;

                .title {
                    padding: 0 20px;
                    color: #ffaf2d;
                    margin: 30px 0 10px 0;
                }

                .breadcrumbs__list {

                    .breadcrumbs__item {
                        padding: 13px 0;
                        border-bottom: 1px solid #eee;
                        position: relative;

                        a {
                            padding: 0 20px;
                        }

                        a:after {
                            content: ">";
                            position: absolute;
                            right: 15px;
                            display: inline-block;

                        }

                        a:hover {}
                    }

                    .breadcrumbs__item:last-child {
                        border: 0;
                    }

                }
            }

            .slider {
                width: 50%;


                margin: 0 20px;

                .swiper-container {
                    width: 100%;
                    height: 480px;
                    background: #232323;
                    position: relative;

                    .swiper-button-next,
                    .swiper-button-prev {
                        color: #fff;
                        position: absolute !important;
                        top: auto !important;
                        bottom: 30px !important;
                    }

                    .swiper-pagination {
                        .swiper-pagination-bullet-active {
                            background-color: #fff !important;
                        }
                    }

                    .swiper-wrapper {

                        .swiper-slide {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 50px 10%;

                            .slide-left {
                                width: 40%;
                                z-index: 1;

                                p {
                                    font-size: 16px;
                                    color: #777;
                                }

                                .slide-text {
                                    padding: 70px 0 60px 0;

                                    .text {
                                        margin-top: 20px;
                                        color: #fff;
                                        font-size: 18px;
                                    }

                                    .title {
                                        font-size: 40px;
                                        color: #fff;
                                    }
                                }

                                .more-button {

                                    width: 100%;
                                    margin: 0 auto;

                                    a {
                                        display: inline-block;
                                        font-weight: 300;
                                        padding: 0 30px;
                                        height: 35px;
                                        line-height: 34px;
                                        color: #fff;
                                        background: #ffaf2d;
                                        -webkit-border-radius: 15px;
                                        border-radius: 20px;
                                        text-align: center;
                                        cursor: pointer;
                                        outline: none;
                                        -webkit-transition: .2s;
                                        -o-transition: .2s;
                                        transition: .2s;
                                    }

                                    a:hover {
                                        opacity: 0.7;
                                        color: #282828;
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .sell {
                width: 25%;
                height: 480px;
                background: #fff;
                border: 2px solid #ffaf2d;
                padding: 220px 60px 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                img {
                    align-self: flex-start;
                    margin-bottom: 10px;
                }

                .sell-text {
                    margin-bottom: 25px;
                }

                a {
                    color: #ffaf2d;

                }

                a:after {
                    content: ">";
                    color: #ffaf2d;
                    margin-right: 10px;
                }
            }
        }

        .companies {
            width: 100%;
            height: 100px;
            background: #fff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding: 15px 0;


            div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #efeeee;
                //border-left: 1px solid #efeeee;
                width: 16.6%;
                padding: 0 3.5%;
            }

            div:first-child {
                border-right: 1px solid #efeeee;
            }

            div:last-child {
                border: 0;
            }
        }
    }
}

.news {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    margin-bottom: 172px;

    .titleBig {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .news-container {
        display: flex;

        .news-left {
            max-width: 490px;
            width: 100%;
            margin-bottom: 70px;

            .text-container {
                .news-left__title {



                    .title {
                        line-height: 1.2;


                    }
                }



                .news-left__data {
                    margin-top: 30px;
                    margin-bottom: 25px;
                    display: flex;
                    justify-content: space-between;
                    width: 90%;

                    p:first-child {
                        color: #34a853;
                    }

                    p:last-child {
                        color: #777;
                    }
                }

                .news-left__text {
                    margin-top: 30px;
                }
            }



            .news-left__item {



                .news-left__img {
                    margin-bottom: 35px;
                    max-height: 320px;

                    overflow: hidden;

                    img {
                        width: 100%;
                        vertical-align: middle;
                    }

                }

            }


        }

        .news-right {
            margin-left: 7.5%;

            .news-right__item {
                display: flex;
                margin-bottom: 45px;

                .news-right-text {
                    margin-left: 20px;

                    .news-right__text {
                        margin-top: 10px;
                    }

                    .news-right__data {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        width: 90%;

                        p:first-child {
                            color: #34a853;
                        }

                        p:last-child {
                            color: #777;
                        }
                    }
                }

            }
        }

    }

    .news-button {

        width: 100%;
        margin: 0 auto;

        a {
            display: inline-block;
            font-weight: 300;
            padding: 0 30px;
            height: 35px;
            line-height: 34px;
            color: #282828;
            border: 2px solid #282828;
            -webkit-border-radius: 15px;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
        }

        a:hover {
            opacity: 0.7;
            color: #282828;
            outline: none;
        }
    }
}

.recomend {
    margin-bottom: 225px;

    .recomend-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 2%;

        .titleBig {
            margin-bottom: 20px;
            text-align: center;
        }

        .recomend-main-text {
            margin: 0 auto 65px;
            width: 50%;
            color: #777;
            text-align: center;
        }

        .recomend-list {
            display: flex;
            width: 100%;

            .recomend-right {
                width: 55%;


                .recomend-item:first-child {
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    position: relative;

                    .recomend-item__content {
                        position: absolute;
                        left: 30%;
                        top: 30%;
                        width: 50%;

                        .recomend-item__name {
                            line-height: 1;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            text-transform: uppercase;
                        }

                        .recomend-item__category {
                            font-size: 30px;
                            line-height: 1.2;
                            margin-bottom: 15px;
                            display: block;
                        }

                        .recomend-item__desk {
                            font-size: 14px;
                            font-weight: 400;

                            width: 85%;
                        }
                    }

                    .recomend-item__img {
                        margin: 0 0 -45px -200px;
                    }
                }

                .recomend-item:last-child {
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    position: relative;

                    .recomend-item__content {
                        position: absolute;
                        left: 50px;
                        top: 30%;
                        width: 50%;

                        .recomend-item__name {
                            line-height: 1;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            text-transform: uppercase;
                        }

                        .recomend-item__category {
                            font-size: 30px;
                            line-height: 1.2;
                            margin-bottom: 15px;
                            display: block;
                        }

                        .recomend-item__desk {
                            font-size: 14px;
                            font-weight: 400;

                            width: 85%;
                        }
                    }

                    .recomend-item__img {
                        margin: 0 0 -88px 450px;
                    }
                }
            }

            .recomend-left {
                width: 45%;
                margin-right: 10px;
                overflow: hidden;

                .recomend-item {
                    padding-top: 60px;
                    padding: 30px;

                    text-align: center;
                    width: 100%;
                    height: 100%;

                    position: relative;



                    .recomend-item__content {
                        text-align: center;
                        margin-bottom: 30px;

                        .recomend-item__name {
                            line-height: 1;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            text-transform: uppercase;
                        }

                        .recomend-item__category {
                            font-size: 30px;
                            line-height: 1.2;
                            margin-bottom: 15px;
                            display: block;
                        }

                        .recomend-item__desk {
                            font-size: 14px;
                            font-weight: 400;
                            margin: 0 auto;
                            width: 60%;
                        }
                    }

                    .recomend-item__img {
                        width: 450px;
                        margin: 0 auto -400px auto;

                    }

                }
            }
        }
    }

}

.portfolio {

    .portfolio-container {
        display: flex;
        padding: 0 2%;
        padding-bottom: 200px;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;

        .portfolio-left {
            width: 75%;
            height: 100%;
            margin-right: 210px;
            position: relative;

            h1 {
                font-weight: 500;
                width: 80%;
                margin-bottom: 20px;
                font-size: 36px;
            }

            p {
                width: 95%;
                font-weight: 100;
                font-size: 18px;
            }

            p:nth-child(n+5) {
                width: 90%;
            }

            h2 {
                padding: 30px 0 30px;
                font-weight: 100;
                font-size: 36px;
                line-height: 36px;

            }

            .portfolio-left__text3 {
                display: none;
                height: 100%;
            }

            
            .show-more-button {
                width: 45px;
                height: 45px;
                background: #383838;
                -webkit-border-radius: 100%;
                border-radius: 100%;
                color: #fff;
                line-height: 44px;
                text-align: center;
                cursor: pointer;
                font-size: 16px;
                font-weight: 100;
                margin-top: 45px;
            }
        }

        .portfolio-right {
            width: 25%;
            padding-top: 50px;

            .logo {
                margin-bottom: 25px;

                .img {
                    margin-bottom: 25px;
                }

                .title {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 40px;
                    margin-bottom: 0;
                }

                .text {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 100;
                    color: #898989;
                }
            }

            .company {
                margin-bottom: 25px;

                .title {
                    margin-bottom: 0;
                    font-weight: 400;
                }

                .text {
                    color: #898989;
                    font-size: 16px;
                }
            }

            .about {
                font-size: 18px;
            }
        }
    }
}

.contacts {
    background: #282828;
    padding: 90px 0 80px 0;
    line-height: 1.5;

    li,
    a {
        color: #fff;
    }

    .contacts-container {
        max-width: 1545px;
        width: 100%;
        margin: 0 auto;
        padding: 0;

        .contacts-lists {
            display: flex;
            justify-content: space-between;
            margin: 0 4.5%;

            .contacts-list {

                .contacts__title {
                    display: inline-block;
                    color: #6c6c6c;
                    font-size: 24px;
                    font-weight: 300;
                    padding-bottom: 35px;

                }
            }



            .contacts-list:last-child {


                li:nth-child(3) {
                    margin-bottom: 17px;
                }

                li:nth-child(5) {
                    margin-bottom: 17px;
                }

                li:nth-child(7) {
                    margin-bottom: 17px;
                }
            }


        }
    }

}

.footer {
    background: #191919;
    padding: 40px 0 30px;
    color: #fff;

    .footer-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 2%;
        display: flex;
        justify-content: space-between;

        .footer-left {
            display: flex;
            align-items: center;

            .footer-left__img {
                margin-right: 15px;
            }

            .footer-left__text {
                line-height: .8;

                .text1 {

                    padding-bottom: 5px;
                    font-size: 24px;

                }

                .text2 {
                    color: #777;
                    font-size: 18px;
                }
            }
        }

        .footer-right__text {
            font-size: 18px;
        }
    }
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 1366px) {


    .header {
        .header__menu {
            .header__menu__container {
                nav {
                    ul {
                        width: 39%;

                        li {
                            a {
                                font-size: 14px;
                            }
                        }
                    }

                    ul:first-child {
                        width: 25%;


                    }

                    ul:last-child {
                        width: 37%;

                    }

                }
            }
        }

        .equipment {
            overflow: hidden;
        }

        .header-main {
            .main-container {

                align-items: start;

                .breadcrumbs {
                    .title {
                        margin-top: 15px;
                        font-size: 18px;
                    }

                    .breadcrumbs__list {
                        .breadcrumbs__item {
                            font-size: 14px;
                        }
                    }
                }




            }
        }
    }

    .news {

        .news-container {
            width: 95%;


            .news-right {
                margin-left: 2%;
                flex-direction: row;
                justify-content: center;
            }
        }
    }

}

@media screen and (max-width: 1250px) {


    .header {
        .header__menu {
            .header__menu__container {
                nav {
                    ul {
                        width: 40%;
                        padding: 0 1.5%;

                        li {
                            a {
                                font-size: 12px;
                            }
                        }
                    }


                    ul:first-child {
                        width: 28%;


                    }

                    ul:last-child {
                        width: 37%;

                    }

                }
            }
        }

        .equipment {
            overflow: hidden;

            .equipment-container {
                .equipment-container__item {
                    p {
                        font-size: 10px;
                    }
                }
            }
        }

        .header-main {
            .main-container {
                .breadcrumbs {
                    .title {
                        font-size: 14px;
                    }

                    .breadcrumbs__list {
                        .breadcrumbs__item {
                            .breadcrumbs__link {
                                font-size: 12px;
                            }
                        }
                    }

                }
            }
        }
    }


}

@media screen and (max-width: 968px) {

    .header {

        .header__menu {
            .header__menu__container {
                nav {
                    ul {
                        li {
                            a {
                                font-size: 10px;
                                margin: 0;
                            }
                        }
                    }

                    .header__menu__mail {
                        a {
                            margin: 0;
                        }
                    }

                    .header__menu__phone {
                        a {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .search {
            .search-main {
                .search-logo {
                    p {
                        font-size: 24px;
                    }
                }
            }
        }

        .header-main {
            .main-container {
                .breadcrumbs {

                    .breadcrumbs__list {
                        .breadcrumbs__item {
                            .breadcrumbs__link {
                                span {
                                    font-size: 10px;
                                }
                            }

                            .breadcrumbs__link:after {
                                content: " ";
                            }
                        }
                    }
                }

                .slider {
                    .swiper-container {
                        .swiper-wrapper {
                            .swiper-slide {
                                .slide-left {
                                    .slide-text {
                                        padding: 40px 0 35px 0;

                                        .title {
                                            font-size: 30px;
                                        }

                                        .text {
                                            font-size: 14px;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    .news {
        .news-container {
            flex-wrap: wrap;
            justify-content: flex-start;

            .news-left {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                max-width: 100%;
                width: 100%;
                padding: 0 2%;

                .news-left__item {
                    margin-right: 20px;

                    .news-left__img {
                        img {
                            width: 400px;

                        }
                    }
                }

                .text-container {
                    .news-left__text {
                        width: 100%;
                    }
                }
            }
        }
    }

    .contacts {
        .contacts-container {
            .contacts-list:first-child {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .mobile {
        display: block !important;
    }

    .header-mobile {
        width: 100%;
        background: #f1f1f1;

        .main-menu {
            position: absolute;
            width: 100%;
            height: 100vh;
            left: -100%;
            background: #fff;
            top: 100px;
            transition: .3s;
            z-index: 1000;
            padding: 0 5%;

            ul {
                display: block;
                border-top: 1px solid #e19a32;
                border-bottom: 1px solid #e19a32;

                li {
                    padding: 10px 0;

                    a {
                        font-size: 18px;
                    }
                }
            }

            ul:first-child {
                border: 0;
            }

            ul:last-child {
                border: 0;
            }
        }

        .main-menu.active {
            left: 0;
        }

        .equipment-menu {
            position: absolute;
            width: 100%;
            height: 100vh;
            left: -100%;
            background: #fff;
            top: 0;
            transition: .3s;
            z-index: 1000;

            ul {
                padding: 0 5%;

                li {
                    padding: 15px 0;
                    border-bottom: 1px solid #000;

                    a {
                        font-size: 18px;
                    }

                    a::after {
                        content: ">";
                        position: absolute;
                        right: 15px;
                    }
                }
            }

            ul:first-child {
                border: 0;
            }

            ul:last-child {
                border: 0;
            }

            .equipment__exit {
                width: 100%;
                height: 80px;
                background: #f1f1f1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
            }

            .equipment__exit::after {
                content: "X";
                position: absolute;
                right: 20px;
            }

        }

        .equipment-menu.active {
            left: 0;

        }

    }

    .header-menu__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        height: 100px;
        border-bottom: 1px solid #e5e5e5;

        .menu-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 50%;

            .toggle-bar {
                border-radius: 100%;
                background: #fda11c;
                width: 70px;
                height: 70px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                span {

                    width: 25px;
                    height: 2px;
                    background: #fff;
                }
            }

            .logo-mobile {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 72%;

                .logo-img {
                    margin-right: 2%;
                }

                .logo-text {
                    display: flex;
                    flex-direction: column;

                    justify-content: center;

                    p:first-child {
                        font-size: 30px;
                    }

                    p:last-child {
                        font-size: 18px;
                    }
                }
            }
        }

        .menu-right {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 30%;

            .cart-mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

                .cart-counter {
                    color: #fda11c;
                    position: absolute;
                    font-size: 25px;
                    top: -20px;
                    left: 20px;
                }
            }
        }
    }

    .header-equipment__mobile {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 5%;
        flex-direction: row;
        position: relative;

        p {
            font-size: 30px;
        }

        p::after {
            content: ">";
            right: 5%;
            position: absolute;
            color: #777;
        }
    }

    .header {
        .header__menu {
            .header__menu__container {
                display: none;
            }
        }

        .search {
            display: none;
        }

        .equipment {
            display: none;
        }

        .header-main {
            padding: 0;

            .main-container {
                flex-wrap: wrap;

                .breadcrumbs {
                    display: none;
                }

                .slider {
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 20px;
                }

                .sell {
                    width: 100%;
                    margin: 0 5%;
                    height: auto;
                    padding: 80px 50px;

                    img {
                        width: 120px;

                    }

                    a {
                        font-size: 30px;
                    }

                    .sell-text {
                        .title {
                            font-size: 50px;
                        }

                        .text {
                            font-size: 25px;
                        }
                    }
                }
            }

            .companies {
                display: none;
            }
        }
    }

    .companies-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: #fff;
        margin: 0 5%;

        .companies-mobile__item {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #f3f2f2;
            padding: 25px 0;
            width: 100%;

            div:first-child {
                border-right: 1px solid #f3f2f2;
                padding-left: 5%;
                padding-right: 3%;
            }

            div:last-child {
                padding-left: 3%;
                padding-right: 5%;
            }
        }
    }

    .news {
        display: none;
    }

    .recomend {
        margin-bottom: 0;

        .recomend-container {



            .titleBig {
                font-size: 50px;
            }

            .recomend-main-text {
                font-size: 30px;
                width: 90%;
                line-height: 1.5;
            }

            .recomend-list {
                flex-wrap: wrap;

                .recomend-right {
                    width: 100%;

                    .recomend-item:first-child {
                        .recomend-item__content {

                            left: auto;
                            right: 0;
                            width: 57%;
                            top: 10%;

                            .recomend-item__name {
                                font-size: 24px;
                            }

                            .recomend-item__category {
                                font-size: 28px;
                                margin-top: 30px;
                                margin-bottom: 45px;
                            }

                            .recomend-item__desk {
                                width: 90%;
                            }
                        }

                        .recomend-item__img {
                            margin: 25px 0 5px -265px;

                            img {
                                width: 400px;
                            }
                        }
                    }

                    .recomend-item:last-child {
                        padding: 30px 0;

                        .recomend-item__content {

                            right: auto;
                            left: 10%;
                            width: 57%;
                            top: 10%;

                            .recomend-item__name {
                                font-size: 24px;
                            }

                            .recomend-item__category {
                                font-size: 28px;
                                margin-top: 30px;
                                margin-bottom: 45px;
                            }

                            .recomend-item__desk {
                                width: 90%;
                            }
                        }

                        .recomend-item__img {
                            margin: 0 0px -12px 452px;

                            img {
                                width: 400px;
                            }
                        }
                    }

                }

                .recomend-left {
                    width: 100%;
                    margin-right: 0;

                    .recomend-item {
                        display: flex;
                        flex-direction: row;

                        padding-top: 20px;

                        .recomend-item__img {
                            width: auto;
                            margin: 0 -90px -120px auto;

                            img {
                                width: 330px;
                            }
                        }

                        .recomend-item__content {
                            text-align: left;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .recomend-item__desk {
                                margin: 0;

                                width: 75%;

                                p {
                                    font-size: 18px;
                                }
                            }

                            .recomend-item__name {
                                font-size: 24px;
                            }

                            .recomend-item__category {
                                font-size: 28px;
                                margin-top: 30px;
                                margin-bottom: 45px;
                            }
                        }
                    }
                }
            }
        }

    }

    .recomend-item__desk {

        p {
            font-size: 18px;
            color: #777;
        }
    }


    .portfolio {
        .portfolio-container {
            flex-wrap: wrap-reverse;

            .portfolio-left {
                width: 100%;
                margin-right: 0;

                h1 {
                    width: auto;

                }

                p {
                    width: auto;
                }

                .portfolio-left__text2 {
                    display: none;
                }
            }

            .portfolio-left {
                h1 {
                    font-size: 50px;
                }

                p {
                    font-size: 30px;
                }

                .show-more-button {
                    width: 100px;
                    height: 100px;
                    font-size: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .portfolio-right {
                width: 100%;
                margin-top: 150px;
                margin-bottom: 150px;
                margin-left: 60px;

                .logo {
                    .img {
                        img {
                            width: 250px;
                        }
                    }

                    .title {
                        p {
                            font-size: 50px;

                        }

                    }

                    .text {
                        p {
                            font-size: 25px;
                        }
                    }
                }

                .company {

                    .title {
                        p {
                            font-size: 40px;
                        }
                    }

                    .text {
                        p {
                            font-size: 30px;
                        }
                    }
                }

                .about {
                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .contacts {
        padding: 30px 0;

        .contacts-container {
            .contacts-lists {
                padding: 0 2%;
                flex-direction: column;

                .contacts-list:first-child {
                    margin-left: 0;
                }

                .contacts-list:last-child {
                    margin-right: 0;
                }

                .contacts-list {
                    border-bottom: 1px solid #4b4b4b;
                    position: relative;

                    .contacts__title {
                        padding: 10px 0;
                        font-size: 30px;
                        color: #fff;
                    }

                    .contacts__title::after {
                        content: "+";
                        color: #fff;
                        position: absolute;
                        right: 10px;
                    }
                }

                .contacts-list:last-child {

                    border: 0;
                }


            }
        }


        .contacts-list {

            ul,
            li {
                display: none;
            }
        }

    }

    .footer {
        .footer-container {
            flex-wrap: wrap;
            justify-content: center;

            .footer-left {
                width: 100%;
                padding-bottom: 20px;

                .footer-left__img {
                    img {
                        width: 80px;
                    }
                }

                .footer-left__text {
                    .text1 {
                        font-size: 50px;
                    }

                    .text2 {
                        font-size: 36px;
                    }

                }
            }

            .footer-right {
                width: 100%;

                p {
                    font-size: 40px;
                }
            }
        }
    }

}

@media screen and (max-width: 467px) {
    .header {
        .header-mobile {
            .header-menu__mobile {
                width: 100%;

                .menu-left {
                    width: 30%;

                    .logo-mobile {
                        .logo-text {
                            display: none;
                        }
                    }

                    .toggle-bar {
                        width: 50px;
                        height: 50px;
                        padding: 15px;

                        span {
                            width: 20px;
                        }
                    }

                    .logo-mobile {
                        .logo-img {
                            img {
                                margin-top: 2px;
                                width: 50px;
                            }
                        }
                    }
                }

                .menu-right {
                    width: 45%;

                    .search-button {
                        .search-img {
                            img {

                                width: 35px;
                            }
                        }
                    }

                    .contact-button {
                        .contact-img {
                            img {
                                width: 35px;
                            }
                        }
                    }

                    .cart-mobile {
                        .cart-counter {
                            font-size: 20px;
                        }

                        .cart-img {
                            img {
                                width: 47px;
                            }
                        }
                    }

                }
            }
        }

        .companies-mobile {
            .companies-mobile__item {}
        }

        .header-main {
            .main-container {
                .sell {
                    margin: 0;
                }

                .slider {
                    .swiper-container {
                        .swiper-wrapper {
                            .swiper-slide {
                                .slide-left {
                                    width: 40%;
                                    z-index: 1;

                                    .slide-text {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-equipment__mobile {
        p {
            font-size: 25px;
        }
    }

    .recomend {
        .recomend-container {
            .recomend-list {
                .recomend-left {
                    .recomend-item {
                        .recomend-item__content {
                            .recomend-item__name {
                                font-size: 24px;
                            }

                            .recomend-item__category {
                                font-size: 28px;
                            }

                            .recomend-item__desk {
                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .recomend-right {
                    .recomend-item:first-child {
                        .recomend-item__img {
                            margin: 25px 0 5px -265px;
                        }

                        .recomend-item__content {
                            .recomend-item__name {
                                font-size: 24px;
                            }

                            .recomend-item__category {
                                font-size: 28px;
                            }

                            .recomend-item__desk {
                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    .recomend-item:last-child {
                        .recomend-item__img {
                            margin: 0 0px -12px 252px;
                        }

                        .recomend-item__content {

                            .recomend-item__name {
                                font-size: 24px;
                            }

                            .recomend-item__category {
                                font-size: 28px;
                            }

                            .recomend-item__desk {
                                p {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .portfolio{
        .portfolio-container{
            .portfolio-left{
                .show-more-button{
                    width: 70px;
                    height: 70px;
                    font-size: 40px;
                }
            }
        }
    }

    .contacts{
        .contacts-container{
            .contacts-lists{
                .contacts-list{
                    .contacts__title{
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .footer {
        .footer-container {
            .footer-left {
                .footer-left__text {
                    .text1 {

                        font-size: 36px;

                    }

                    .text2 {

                        font-size: 20px;

                    }
                }
            }

            .footer-right {
                .footer-right__text {
                    p {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {

    .header {
        .header-main {
            .main-container {
                .slider {
                    .swiper-container {
                        .swiper-wrapper {
                            .swiper-slide {
                                .slide-left {
                                    width: 46%;
                                }

                                .slide-right {
                                    img {
                                        width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }

                .sell {
                    .sell-text {
                        .text {
                            font-size: 18px;
                        }

                        .title {
                            font-size: 40px;
                        }

                    }

                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .recomend {
        .recomend-container {
            .titleBig {
                font-size: 40px;

            }

            .recomend-main-text {
                font-size: 14px;
            }

            .recomend-item:last-child {
                .recomend-item__img {
                    margin: 0 0px -12px 152px;
                }
            }
        }
    }

    .portfolio {
        .portfolio-container {
            .portfolio-left {
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 16px;
                }

                .show-more-button {
                    width: 50px;
                    height: 50px;
                    font-size: 18px;
                }
            }

            .portfolio-right {
                margin-left: 0;

                .logo {
                    .img {
                        img {
                            width: 200px;
                        }
                    }

                    .title {
                        p {
                            font-size: 40px;
                        }

                    }

                    .text {
                        p {
                            font-size: 18px;
                        }
                    }
                }

                .company {
                    .title {
                        font-size: 28px;
                    }

                    .text {
                        font-size: 24px;
                    }

                }

                .about {
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .footer {
        .footer-container {
            .footer-left {
                .footer-left__img {
                    img {
                        width: 50px;
                    }
                }

                .footer-left__text {
                    .text1 {
                        font-size: 28px;
                    }

                    .text2 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}